.blog
  .post
    padding-bottom: 2em

  .post-title
    font-size: 20px
    color: #222
    padding: 0.4em 0
    margin-bottom: 0.2em
    border-bottom: 1px solid #d1d1d1
    letter-spacing: 0.1em

  .post-date
    color: #999
    font-size: 110%
    margin-top: 0.3em
    margin-bottom: 2em

  .post-description
    color: $text
    font-size: 16px
    line-height: 2.0em

  .post-more
    font-size: 18px
    margin-bottom: 2em
