/* fork from http://purecss.io/combo/1.17.16?/css/layouts/blog.css
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  background: $white
  font-family: 'mplus-2p-regular'
  color: $text
  font-size: 14px

a
  text-decoration: none
  color: rgb(61, 146, 201)

/* LAYOUT CSS

#layout
  padding: 0

.sidebar
  background: $menu-box
  color: #fff

.content-subhead
  text-transform: uppercase
  color: #aaa
  border-bottom: 1px solid #eee
  padding: 0.4em 0
  font-size: 80%
  font-weight: 500
  letter-spacing: 0.1em

.content
  padding: 2em 1em 0

@media (min-width: 48em)
  .content
    padding: 2em 3em 0
    margin-left: 25%
  .header
    margin: 80% 2em 0
    text-align: right
  .sidebar
    position: fixed
    top: 0
    bottom: 0
