@font-face {
  font-family: "mplus-2p-light";
  src: url("../fonts/mplus-2p-light.woff") format("woff"), url("../fonts/mplus-2p-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "mplus-2p-medium";
  src: url("../fonts/mplus-2p-medium.woff") format("woff"), url("../fonts/mplus-2p-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "mplus-2p-regular";
  src: url("../fonts/mplus-2p-regular.woff") format("woff"), url("../fonts/mplus-2p-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* colors */
/* fork from http://purecss.io/combo/1.17.16?/css/layouts/blog.css */
/* line 2, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
body {
  background: #FFFFFF;
  font-family: "mplus-2p-regular";
  color: #3A4347;
  font-size: 14px; }

/* line 13, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
a {
  text-decoration: none;
  color: #3d92c9; }

/* LAYOUT CSS */
/* line 19, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
#layout {
  padding: 0; }

/* line 22, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
.sidebar {
  background: #1E327A;
  color: #fff;
  margin: 0; }

/* line 27, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em; }

/* line 36, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
.content {
  padding: 2em 1em 0; }

@media (min-width: 48em) {
  /* line 40, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
  .content {
    padding: 2em 3em 0;
    margin-left: 25%; }

  /* line 43, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
  .header {
    margin: 80% 2em 0;
    text-align: right; }

  /* line 46, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_layout.sass */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0; } }
/* line 2, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
.about * {
  font-size: 16px;
  font-family: "mplus-2p-regular"; }
/* line 6, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
.about a:hover, .about a:focus {
  text-decoration: underline; }
/* line 8, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
.about .social-list {
  margin: 0;
  padding: 0;
  list-style: none; }
/* line 12, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
.about .social-list-item {
  display: inline-block;
  margin-right: 10px; }
/* line 15, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
.about .skill-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  /* line 19, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
  .about .skill-list li {
    margin-bottom: 10px; }
/* line 21, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
.about .checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 11px; }
  /* line 26, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
  .about .checkbox .icon-check-empty {
    position: absolute;
    top: 0;
    left: 0; }
  /* line 30, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_about.sass */
  .about .checkbox .icon-ok {
    position: absolute;
    top: 0;
    left: 1.4px;
    color: #cdad63;
    font-size: 11.5px; }

/* line 1, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.menu-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -100px;
  width: 200px;
  height: 240px;
  text-align: center; }
  @media only screen and (max-width: 940px) {
    /* line 1, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
    .menu-box {
      position: relative;
      left: 0;
      width: auto;
      height: 1uto;
      margin-top: 0;
      margin-left: 0; } }

/* line 18, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
a.heading {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "mplus-2p-regular";
  letter-spacing: 0.07em;
  text-decoration: none; }

/* line 26, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.menu {
  list-style: none;
  margin: 10px 0;
  padding: 0; }
  @media small {
    /* line 26, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
    .menu {
      margin: 10px 0 0; } }

/* line 33, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.menu-item {
  overflow: hidden;
  margin: 0.8em;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none; }
  /* line 40, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
  .menu-item a {
    color: rgba(255, 255, 255, 0.5); }
    /* line 18, /Users/sota1235/Documents/sota1235/Now_Running/blog/vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .menu-item a:visited {
      color: rgba(255, 255, 255, 0.5); }
    /* line 21, /Users/sota1235/Documents/sota1235/Now_Running/blog/vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .menu-item a:focus {
      color: rgba(255, 255, 255, 0.5); }
    /* line 24, /Users/sota1235/Documents/sota1235/Now_Running/blog/vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .menu-item a:hover {
      color: #FFFFFF; }
    /* line 27, /Users/sota1235/Documents/sota1235/Now_Running/blog/vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .menu-item a:active {
      color: #cdad63; }
  @media only screen and (max-width: 940px) {
    /* line 33, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
    .menu-item {
      display: inline-block;
      margin: 0 0.5em; } }

/* line 46, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.menu-description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  color: #92B2F3;
  font-family: "mplus-2p-medium"; }

/* Effect 1: Brackets */
/* Thanks for http://tympanus.net/Development/CreativeLinkEffects/#cl-effect-1 */
/* line 57, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.cl-effect-1 a::before, .cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }
/* line 63, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.cl-effect-1 a::before {
  margin-right: 10px;
  content: "[";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }
/* line 69, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.cl-effect-1 a::after {
  margin-left: 10px;
  content: "]";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }
/* line 76, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.cl-effect-1 a:hover::before, .cl-effect-1 a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }
/* line 82, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_menu.sass */
.cl-effect-1 a:focus::before, .cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

/* line 2, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_blog.sass */
.blog .post {
  padding-bottom: 2em; }
/* line 5, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_blog.sass */
.blog .post-title {
  font-size: 20px;
  color: #222;
  padding: 0.4em 0;
  margin-bottom: 0.2em;
  border-bottom: 1px solid #d1d1d1;
  letter-spacing: 0.1em; }
/* line 13, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_blog.sass */
.blog .post-date {
  color: #999;
  font-size: 110%;
  margin-top: 0.3em;
  margin-bottom: 2em; }
/* line 19, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_blog.sass */
.blog .post-description {
  color: #3A4347;
  font-size: 16px;
  line-height: 2em; }
/* line 24, /Users/sota1235/Documents/sota1235/Now_Running/blog/source/stylesheets/_blog.sass */
.blog .post-more {
  font-size: 18px;
  margin-bottom: 2em; }
