.menu-box
  %a.heading{:href => "/"}
    はらへり日記
  .menu-description
    プログラムに片思い中
  %nav
    %ul.menu.cl-effect-6
      %li.menu-item
        %a{:href => "/"}
          Home
      %li.menu-item
        %a{:href => "/about.html"}
          About
      %li.menu-item
        %a{:href => "/blog.html"}
          Blog
