---
title: はらへり日記 | MAIN
bodyclass: index
---

%h1 sota1235.com Activity

%h2.content-subhead GitHub
.activity
  .activity_title
    %span.activity_date
  .activity_content
%h2.content-subhead Blog
.activity

%h2.content-subhead Gyazz
%p Coming Soon...
