---
title: はらへり日記 | MAIN
bodyclass: index
---

%h1 sota1235.com Activity

%h2.content-subhead GitHub
.github_activity
  %img.loader(src="/images/general/loading-24.gif")

%h2.content-subhead Blog
.blog_activity
  %img.loader(src="/images/general/loading-24.gif")

%h2.content-subhead Gyazz
.gyazz_activity
  %img.loader(src="/images/general/loading-24.gif")
